* {
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 3.125rem;
}
h1 {
  font-family: "Oswald", sans-serif;
}
p {
  font-family: "Fira Sans", sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(65, 0, 109);
}
a:hover {
  text-decoration: underline;
  color: tomato;
}
