* {
  box-sizing: border-box;
}
h1 {
  font-family: sans-serif;
  color: tomato;
  text-align: center;
}
p {
  font-family: "Metrophobic", sans-serif;
  text-align: center;
  color: #696969;
}
a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* id Selector */
#todays-challenge {
  color: rgb(195, 11, 11);
  font-weight: bold;
  font-size: 1.4rem;
}
