* {
  box-sizing: border-box;
}
body {
  background-color: rgb(233, 215, 207);
  margin: 3.125rem;
}
h1 {
  font-family: sans-serif;
  color: tomato;
  text-align: center;
}
p {
  font-family: "Metrophobic", sans-serif;
  text-align: center;
  color: rgba(83, 75, 75);
}
a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* id Selector */
#todays-challenge {
  color: rgb(170, 95, 85);
  font-weight: bold;
  font-size: 52px;
}
img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}
.img-container {
  text-align: center;
}
