* {
  box-sizing: border-box;
}
body {
  background-color: #f4e9fe;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
h1 {
  color: rgb(86, 47, 207);
  font-weight: 700;
}
img {
  width: 250px;
}
h2 {
  font-weight: 200;
}
p,
li {
  font-family: sans-serif;
  font-weight: 200;
}
main {
  text-align: left;
  background-color: rgb(119, 74, 215);
  color: #fff;
  padding: 24px;
  max-width: 800px;
  margin: 40px auto 40px auto;
  border-radius: 6px;
  box-shadow: 1px 2px 8px rgba(119, 74, 215, 0.2);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 8px;
  padding: 0px 8px;
}
.highlight-list {
  color: rgb(255, 255, 170);
  border-left: 5px solid rgb(238, 211, 86);
}
p span {
  display: inline-block;
  background-color: rgb(251, 236, 170);
  padding: 5px;
  border-radius: 4px;
  color: rgb(43, 5, 79);
}
a {
  display: inline-block;
  background-color: rgb(248, 201, 40);
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
  color: rgb(44, 4, 44);
  margin: 10px 0;
}
footer p {
  color: rgb(120, 106, 134);
}
