* {
  box-sizing: border-box;
}
body {
  background-color: #f4e9fe;
  font-family: "Roboto", sans-serif;
}
/* header */
header {
  text-align: center;
  padding: 32px;
}
h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
  font-weight: 700;
}
header img {
  width: 300px;
}
h2 {
  font-weight: 200;
}
/* end of header*/

/* main */

main {
  text-align: left;
  background-color: rgb(122, 74, 218);
  color: rgb(248, 241, 255);
  max-width: 700px;
  padding: 32px;
  margin: 32px auto;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(119, 74, 215, 0.2);
}
/* list styling */
p,
li {
  font-family: sans-serif;
  font-weight: 200;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin: 14px;
  padding-left: 10px;
  border-left: 5px solid transparent;
}
.highlight-list {
  color: rgb(255, 237, 177);
  border-color: rgb(247, 209, 85);
}
.highlight-text {
  font-weight: 600;
}
p a {
  display: inline-block;
  text-decoration: none;
  color: rgb(36, 3, 102);
  background-color: rgb(255, 237, 177);
  padding: 2px 6px;
  border-radius: 4px;
}
p a:hover,
p a:active {
  background-color: rgb(250, 201, 39);
}

a {
  display: inline-block;
  background-color: rgb(248, 201, 40);
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
  color: rgb(44, 4, 44);
  margin: 10px 0;
}

/* Footer */
footer {
  text-align: center;
}
footer p {
  color: rgb(120, 106, 134);
}
